<%= content_for :title, "Admin Sign-Up" %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3 admin_form">
    <div class="row">
      <h2>Sign Up</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="row">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="row">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="row">
        <br />
      </div>
  </div>
  <div class="col-sm-1 col-sm-offset-3">
    <div class="row">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>

<div class="col-sm-6 col-sm-offset-3">
  <div class="row">
    <%= render "admins/shared/links" %>
  </div>
</div>
</div>
