<div class="col-sm-6">
  <%= form_for(@page) do |f| %>
    <% if @page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
          <% @page.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <fieldset class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </fieldset>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>
