<div class="nested-fields banner-img-admin">
  <%= image_tag f.object.file, class: "img-thumb" %><br>
  <%= f.file_field :file %><br>
  <%= link_to_remove_association button_tag('Remove Image', type: "button"), f %><br>
</div>
