<div class="container">
  <div class="nested-fields">
    <div class="row">
      <h4><%= f.label :title %>
      <%= f.text_field :title, size: 40 %></h4>
    </div>
    <div class="row">
      <h4><%= f.label :order %>
      <%= f.number_field :order, min: 1, max: @page.sections.count %>
      </h4>
    </div>

    <div class="row">
      <h4><%= f.label :content %>
      <%= f.text_area :content, class: "tinymce", rows: 30, cols: 30 %>
      <%= tinymce %>
      </h4>
      <%= link_to_remove_association button_tag('Remove Section', type: "button"), f %>
    </div>
  </div>
</div>
