<% if !admin_signed_in? %>
	<meta http-equiv="refresh" content="0; URL=../../admins/sign_in">
<% else %>
<div class="container">
  <div class="col-sm-12">
    <%= form_for(@page, html: {multipart: true}) do |f| %>
      <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
            <% @page.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div id="admin_images">
        <h2>Page Banner Images</h2>
        <hr>
        <%= f.fields_for :images do |image| %>
          <%= render 'image_fields', f: image %>
        <% end %>
        <div class="links">
          <hr>
          <%= link_to_add_association button_tag('Add Banner Image', type: "button"), f, :images %>
        </div>
      </div>

      <div id="admin_form">
        <h2>Page Title:
          <%= f.text_field :title %></h2>
        <hr>
        <h2>Sections:</h2>
        <hr>
        <div id="sections">
          <%= f.fields_for :sections do |section| %>
            <%= render 'section_fields', locals: {section: section}, f: section  %>
          <% end %>
          <hr>
          <div class="links">
                  <%= link_to_add_association button_tag('Add Section', type: "button"), f, :sections %>
          </div>
        </div>
        <br>
        <div class="actions">
          <%= f.submit 'Submit', :class => "btn-primary" %>
        </div>
      </div>
  </div>
<% end %>

<div class="col-sm-12">
        <br> <%= link_to button_tag('Go Back', type: "button"), @page %>
		  <p><br></p> 
</div>
</div>
<% end %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.js"></script>

<script>
    <% if flash then %>
      <% if flash.alert then %>
          sweetAlert(
            'Success',
            'Your changes have been updated',
            'success'
          )
      <% end %>
    <% end %>
</script>
