<div id="page-content-wrapper">
  <div class="title-overlay">
    <h1><%= @page.title if @page %></h1> 
	<div class="carousel"> 
      <% @images.each do |img| %>
        <%= link_to Page.find(img.page_id) do %>
          <div style="background-image: url(<%= img.file %>);" class="slick-track"></div>
        <% end %>
      <% end %>
    </div>
  </div>


	<div class="jumbotron">
    <div class="container">
	<% if admin_signed_in? %>
       	  <div class="row">
          <br />
          <%= link_to "Edit Page", admin_panel_page_path(@page), class: "btn btn-primary" %>
       </div>
    <% end %>
		<% if @page %>
      <% @page.sections.each_with_index do |section,i| %>
        <div class="home_section">
          <h2><%= section.title %></h2>
          <p><%= section.content.html_safe %></p>
        </div>
      <% end %>
		<% end %>
    </div>

  </div><!-- /.jumbotron -->
</div>
