<div id="page-content-wrapper">
  <div class="title-overlay">
    <h1><%= @page.title %></h1>      
    <% if !@images.empty? %>
      <div class="carousel"> 
        <% @images.each do |img| %>
          <div style="background-image: url(<%= img.file %>);" class="slick-track"></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <% if admin_signed_in? %>
      <div class="row">
        <br />
        <%= link_to "Edit Page", admin_panel_page_path, class: "btn btn-primary" %>
      </div>
    <% end %>


    <% @sections.each do |section| %>
      <div class="row main-row">
        <div class="col-xs-12">
          <h2 class="page-header"><%= section.title %></h2>
          <span>
            <%= section.content.html_safe %>
          </span>
        </div>
      </div>
    <% end %>

  </div>
</div>
