<% content_for :title, @page.title %>

<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <div class=".col-md-2"></div>
            <div class=".col-md-8">
                <table class="table">
                    <tr>
                        <th>Suggestion</th>
                        <th>Viewed</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class=".col-md-2"></div>
        </div>
    </div>
</div>
