<%= content_for :title, "Admin Login" %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
      <h2>Log in</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:  'form-control' %><br />
      </div>
      <div class="row">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class:  'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <br>
      <% end %>
  </div>
    <div class="col-sm-1 col-sm-offset-3">
      <div class="row">
        <%= f.submit "Log in", class: "btn" %>
      </div>
    </div>
  <% end %>
  <% if flash[:notice] %>
          <p class="alert"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
          <p class="alert"><%= flash[:alert] %></p>
  <% end %>
  <br />
  <div class="col-sm-2 col-sm-offset-3">
    <div class="row">
    </div>
  </div>
</div>
