/*
 *= require_self
 *= require_tree
 */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slick';
@import 'slick-theme';

* {
  margin: 0;
}

html, body {
  font-family: 'Droid Sans', sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.container {
  min-width: 60%;
  max-width: 60vw;
}

.home_section {
  text-align: left;
  width: calc(50% - 40px);
  margin: 20px;
  float: left;
  h2 {

  }
}

#page-content-wrapper {
  margin: -1px;
}
main {
  flex: 1 0 auto;
  display: block;
}

@media (max-width: 1200px) {
  img {
    max-height: 300px;
  }
}

.slick-track {
  margin: -1px;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.slick-prev {
  left: 25px;
  z-index: 2;
}
.slick-next {
  right: 25px;
  z-index: 2;
}
.slick-dots {
  bottom: 10px;
  z-index: 2;
}

.slick-prev:before, .slick-next:before { 
  color: lightgray !important;
}

img {
  margin-right: auto;
  margin-left: auto;
}
.main-img {
  margin-top: 20px;
}
.main-row {
  padding-bottom: 20px;
  img {
    max-width: 960px;
    height: auto;
  }
}
.page-header {
  margin-top: 0;
}
.thumbnail {
  max-height: 200px;
}

#home-background {
  min-height: calc(100vh - 146px);
  background-position: center;
  background-size: cover;
}

footer {
  background-color: #2b3e85;
  color: #ffffff;
  position: relative;
}

.footer-container {
  padding: 30px 15px;
  height: 80px;
  color: white;
  text-align: center;
}

.title-overlay {
  vertical-align:middle;
  text-align:center;
  h1 {
	 font-size: 4em;
    display: inline;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 130px;
    color: white;
    text-shadow: 3px 3px 3px rgba(20, 20, 20, 1);
    z-index: 1;
  }
}

.jumbotron {
  margin: -1px;
  background: none;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  h1 {
    color: $Blue;
    margin-bottom: 50px;
  }

  span {
    padding: 25px;
  }
}

.page-header > h1 {
  color: $Blue;
  margin-bottom: 25px;
  text-align: center;
  vertical-align: middle;
}

.mce-content-body {
  font-size: 1.3em;
}

#admin_form {
  width: 100%;
  margin-top: 20px;
  float: left;
}

#admin_images {
  width: 100%;
  .links {
    width: 100%;
    float: left;
  }
  button a {
    color: white;
  }
}

