// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-thumb {
  max-width: 200px;
  height: 100px;
}

.banner-img-admin {
  width: 200px;
  margin: 10px;
  float: left;
  display: block;
}
