<% if !admin_signed_in? %>
   <meta http-equiv="refresh" content="0; URL=../../admins/sign_in">
<% else %>
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <div class=".col-md-2"></div>
            <div class=".col-md-8">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Content</th>
                    </tr>
                    <% @suggestions.each do |suggestion| %>
                    <tr>
                        <td><%= suggestion.name %></td>
                        <td><%= mail_to suggestion.email %></td>
                        <td><%= suggestion.content %></td>
                        <td><%= link_to 'Remove', suggestion_path(suggestion), data: {:confirm => 'Are you sure?'}, action: :destroy, method: :delete %>
                        </tr>
                        <% end %>
                    </table>
                </div>
                <div class=".col-md-2"></div>
            </div>
        </div>
    </div>
<% end %>
