<% content_for :title, "Suggestions" %>
<div id="page-content-wrapper">
	<div class="title-overlay">
		<h1>Suggestions</h1>
   	<% if !@images.empty? || !@images.nil? %>

    	<div class="carousel">
      	<% @images.each do |img| %>
        		<div style="background-image: url(<%= img.file %>);" class="slick-track"></div>
      	<% end %>
    	</div>
    	<% end %>
	</div>
</div>
<div class="container">
<% if admin_signed_in? %>
  <div class="row">
    <br />
  <%= link_to "View Suggestions", suggestions_path, class: "btn btn-primary" %>
  </div>
<% end %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/sweetalert2/1.3.2/sweetalert2.min.js"></script>

<script>
    <% if flash then %>
			<%if @suggestion == "" then %>
            <%= f.text_field(:name, class: "form-control", placeholder: "Enter your name")%>
			<% end %>
        <% if flash.alert then %>
            sweetAlert(
              'Thank you',
              'We have received your suggestion',
              'success'
            )
        <% end %>
    <% end %>
</script>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3>Please write a suggestion.</h3>
            As the Responsible Mining Initiave we care about the oppinion of our viewers, please feel free to write a suggestion about the content displayed in our site or other concerns you may have. Thank you! <br><br>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <%= form_for @suggestion do |f| %>
                <% if @suggestion.errors.any? %>
                  <div id="error_explanation" class="alert alert-danger">
                    <ul>
                      <% @suggestion.errors.full_messages.each do |message| %>
                        <li>
                            <span class="glyphicon glyphicon-exclamation-sign"><%= message %></span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <fieldset class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field(:name, class: "form-control", placeholder: "Enter your name")%>
                </fieldset>

                <fieldset class="form-group">
                    <%= f.label(:email, "Email address")%>
                    <%= f.text_field(:email, class:"form-control", placeholder:"Enter your email")%>
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                </fieldset>

                <fieldset class="form-group">
                    <%= f.label(:content, "Suggestions")%>
                    <%= f.text_area(:content, class:"form-control")%>
                </fieldset>
                <button type="submit" class="btn btn-primary" padding="0x 0x 100x 0x">Submit</button>
					<p><br></p>
            <% end %>
        </div>
        <div class="col-sm-2"></div>
        <br>
    </div>
</div>
