<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'RMI', root_path, class: "navbar-brand text-muted" %>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li  style="font-size:11px"><%= link_to 'Mining Life Cycle', @mining_life_cycle %></li>
          <li  style="font-size:11px"><%= link_to 'Commodity Types', @commodity_types %></li>
          <li  style="font-size:11px"><%= link_to 'Mining Issues', @mining_issues %></li>
          <li  style="font-size:11px"><%= link_to 'Societal Impacts', @societal_impacts %></li>
          <li  style="font-size:11px"><%= link_to 'Regulatory Framework', @regulatory_framework %></li>
          <li  style="font-size:11px"><%= link_to 'Suggestions', new_suggestion_path %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
