<!DOCTYPE html>
<html>
  <head>
    <title>RMI <%= yield(:title) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>

    <header>
      <%= render 'layouts/nav' %>
    </header>

    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container footer-container">
        <div class="col-xs-12">
          <% if admin_signed_in? %>
                 <%= link_to "Admin Sign Out", destroy_admin_session_path, method: :delete %>
               <% else %>
                <%= link_to "Administrator Login", admin_session_path %>
              <% end %>
          </p>Copyright &copy; 2016. All Rights Reserved.</p>
        </div>
      </div>
    </footer>

  </body>
</html>
